* {
    font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
    display: flex;
}

body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
  
.left-side {
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-side {
    align-self: flex-end;
    padding-left: 20px;
}

@media only screen and (max-width: 480px) {
    .fusion-video {
        width: 320px;
        height: 240px;
    }

    body {
        flex-direction: column;
    }

    .left-side {
        margin: auto;
        height: 100%;
        position: inherit;
    }
    .right-side{
        padding: 0px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 1025px) {
    body {
        flex-direction: column;
    }

    .left-side {
        margin: auto;
        height: 100%;
        position: inherit;
    }
    .right-side{
        padding: 0px;
    }
}