@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-body text-base text-primary-900 dark:bg-primary-900 dark:text-white;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-heading font-bold;
  }
}

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

@layer components {
  .text-primary-gradient {
    @apply bg-gradient-to-r from-indigo to-secondary-500 bg-clip-text text-transparent;
  }
}
