<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.neurofusion.fusion">
  <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION"/>
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
  <uses-permission android:name="android.permission.VIBRATE"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

  <!--
    HACK: this permission should not be needed on android 12+ devices anymore,
    but in fact some manufacturers still need it for BLE to properly work :
    https://stackoverflow.com/a/72370969
  -->
  <uses-permission android:name="android.permission.BLUETOOTH" tools:remove="android:maxSdkVersion" />
  <!--
    should normally only be needed on android < 12 if you want to:
    - activate bluetooth programmatically
    - discover local BLE devices
    see: https://developer.android.com/guide/topics/connectivity/bluetooth/permissions#discover-local-devices.
    Same as above, may still be wrongly needed by some manufacturers on android 12+.
    -->
  <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" tools:remove="android:maxSdkVersion" />

  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" android:maxSdkVersion="28"/>
  <uses-permission-sdk-23 android:name="android.permission.ACCESS_FINE_LOCATION" android:maxSdkVersion="30"/>

  <!-- Only when targeting Android 12 or higher -->
  <!--
    Please make sure you read the following documentation
    to have a better understanding of the new permissions.
    https://developer.android.com/guide/topics/connectivity/bluetooth/permissions#assert-never-for-location
  -->

  <!-- Needed if your app search for Bluetooth devices. -->
    <!--
    If your app doesn't use Bluetooth scan results to derive physical location information,
    you can strongly assert that your app doesn't derive physical location.
  -->
  <uses-permission android:name="android.permission.BLUETOOTH_SCAN"
                    android:usesPermissionFlags="neverForLocation" />
  <!-- Needed if you want to interact with a BLE device. -->
  <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
  <!-- Needed if your app makes the current device discoverable to other Bluetooth devices. -->
  <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
  
  <queries>
    <intent>
      <action android:name="android.intent.action.VIEW"/>
      <category android:name="android.intent.category.BROWSABLE"/>
      <data android:scheme="https"/>
    </intent>
  </queries>
  <application android:name=".MainApplication" android:label="@string/app_name" android:icon="@mipmap/ic_launcher" android:roundIcon="@mipmap/ic_launcher_round" android:allowBackup="true" android:theme="@style/AppTheme" android:usesCleartextTraffic="true">
    <meta-data android:name="expo.modules.updates.ENABLED" android:value="true"/>
    <meta-data android:name="expo.modules.updates.EXPO_SDK_VERSION" android:value="48.0.0"/>
    <meta-data android:name="expo.modules.updates.EXPO_UPDATES_CHECK_ON_LAUNCH" android:value="ALWAYS"/>
    <meta-data android:name="expo.modules.updates.EXPO_UPDATES_LAUNCH_WAIT_MS" android:value="0"/>
    <meta-data android:name="expo.modules.updates.EXPO_UPDATE_URL" android:value="https://exp.host/@oreogundipe/fusion"/>
    <activity android:name=".MainActivity" android:label="@string/app_name" android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode" android:launchMode="singleTask" android:windowSoftInputMode="adjustResize" android:theme="@style/Theme.App.SplashScreen" android:exported="true" android:screenOrientation="portrait">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>
        <data android:scheme="com.neurofusion.fusion"/>
        <data android:scheme="exp+fusion"/>
      </intent-filter>
    </activity>
    <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" android:exported="false"/>
  </application>
</manifest>