@import url("https://fonts.googleapis.com/css2?family=Expletus+Sans:wght@500;700&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Expletus Sans", sans-serif;
  background-color: rgb(0, 17, 33);
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.landing {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.banner {
  text-align: center;
  color: white;
  margin: 64px 0px 0px 0px;
}
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}
.title > h1 {
  font-size: 64px;
}
.banner > p {
  font-size: 24px;
}
.body {
  margin: 100px;
  width: 600px;
}
.block {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px;
  width: 100%;
}
.body > p {
  font-size: 20px;
}
.list {
  font-size: 20px;
}
.image {
  width: auto;
  height: auto;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 32px;
  margin: 150px;
  margin-bottom: 64px;
}
.footer > h3 {
  margin: 10px;
}
.button {
  margin: 48px;
  color: white;
  background-color: rgb(86, 89, 243);
  padding: 20px 80px;
  border: none;
  border-radius: 10px;
  font-size: 24px;
  font-family: "Expletus Sans", sans-serif;
  cursor: pointer;
}
@media screen and (max-width: 1400px) {
  .image {
    height: 400px;
  }
}
@media only screen and (max-width: 800px) {
  .block {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .image {
    width: 100vw;
  }
  .title > h1 {
    font-size: 32px;
  }
  .banner > p {
    font-size: 20px;
  }
  .body {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 90vw;
  }
  .bodyTitle {
    font-size: 25px;
  }
  .button {
    font-size: 20px;
    padding: 16px 32px 16px 32px;
    margin: 32px;
  }
  .list {
    font-size: 16px;
  }
  .footer {
    font-size: 20px;
    margin: 0px;
  }
}
